.Icon {
  font-size: 35px;
}
.Sun {
  font-size: 35px;
  color: white;
}
.Modal {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Roboto';
}
.Cancel {
  background-color: transparent;
  height: 30px;
  width: 80px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.Confirm {
  background-color: #3b82f6;
  color: white;
  border: transparent;
  cursor: pointer;
  height: 30px;
  width: 80px;
}
.logoImage {
  height: 25px;
  width: 100px;
}
.modeButton {
  border: transparent;
  background-color: transparent;
  cursor: pointer;    
}
